@{
    ViewData["Title"] = "Home Page";

}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="hits">Times you have visited this page: @ViewData["visits"]</p>
    <p id="ip">Your ip address: @ViewData["ip"]</p>
    <p id="timezone">Your time zone: UTC </p>
</div>